<nav class="navbar">
    <div class="navbar-left">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRk0p_-_qHfmqnjgyoHtQwyWcDWtzKj-kPsw&s" alt="Attivo Technology Solutions" width="60" height="60">
        <a href="https://attivotechsol.com/">Home</a>
      <a href="https://attivotechsol.com/about-ats/">About Us</a>
      <a href="contact">Contact Us</a>
    </div>
    <div class="navbar-right">
      <a href="login">Login</a>
      <a href="registration">Register</a>
    </div>
  </nav>
  