form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  .col-12 {
    margin-bottom: 15px;
  }

  h2 {
    font-weight: 600;
    color: #4b0082;
    /* border-bottom: 2px solid #ddd; */
    padding-top: 10px;
  }
  